h1 {
color:blue;
text-decoration:underline; 
}
body {
  background-color:gray;
}
p {
  color:white;
}
img {
  border-style: solid;
  border-radius: 15px;
  border-color: light green;
  border-width: 5px;
}
